In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble  import AdaBoostClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import classification_report

import warnings
warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv("bank.csv")

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [10]:
df.shape

(11162, 17)

In [12]:
df.info() #no null values, and because evry feature is of type int,there are no unwanted values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  int64
 2   marital    11162 non-null  int64
 3   education  11162 non-null  int64
 4   default    11162 non-null  int64
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  int64
 7   loan       11162 non-null  int64
 8   contact    11162 non-null  int64
 9   day        11162 non-null  int64
 10  month      11162 non-null  int64
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  int64
 16  deposit    11162 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

In [13]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [ ]:
# label encoding is already done. U can try visualization on your own.

In [5]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

AdaBoosting

Do EDA,and for baseline model, always take care of missing values and label encoding. Coz models doesnot work withnull values. Also it doesnot work with object datatype. Rest everything u can do in the later models

In [7]:
ada = AdaBoostClassifier(n_estimators=100) # The maximum number of estimators at which boosting is terminated.

ada.fit(X_train,y_train)

AdaBoostClassifier(n_estimators=100)

In [8]:
y_pred = ada.predict(X_test)

In [9]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.83      0.86      0.84      1760
           1       0.83      0.80      0.82      1589

    accuracy                           0.83      3349
   macro avg       0.83      0.83      0.83      3349
weighted avg       0.83      0.83      0.83      3349

Here, we are getting an accuracy of 83% without any preprocessing. U can always increase this accuracy.

Gradient Boosting Algorithm- Instead of using stumps, fully grown decision trees are used sequentially. In adaboosr we increase the weightage of misclassified datapoints.But in gradient boosting,when u first train ur model,it has residuals or errors.The next model tries to fit this residual (not data).Consider a regression example.Let'ssay predicted regression value are-170,160,165,161,171,172. The avg of these values is 166. Now, lets the predicted value yhat is all 166.Now, the residuals are 170-166=4,160-166=-6,lly, -1,-5,5,6.Now, 1st model will be built on these residuals.Now,this model or decision tree will give predicted residuals r1hat. Let say these values are closer to the above residuals, i.e. 3.5,-5,-1,-4,4,7 .Now, the final step is like we will calculate y2hat.Which is equal to y+lr*r1hat. Therefore, 170+0.1*3.5=170.35.This is y2hat.
ly,going for other values. 160+0.1*-5=159.5.Now, these predicted values are closer to the original predicted values. This process will repeat for n_estimators u want.

In [14]:
from sklearn.ensemble import GradientBoostingClassifier

In [23]:
gb = GradientBoostingClassifier(random_state=1,n_estimators=100,learning_rate=0.2)

gb.fit(X_train,y_train)

GradientBoostingClassifier(learning_rate=0.2, random_state=1)

In [24]:
y_pred = gb.predict(X_test)

In [25]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.83      0.85      1760
           1       0.82      0.87      0.85      1589

    accuracy                           0.85      3349
   macro avg       0.85      0.85      0.85      3349
weighted avg       0.85      0.85      0.85      3349

Extreme Gradient Boosting or XGBoost- Its working principle is same as gradient boosting with the extra added features. It uses a concept of parallellization. U would have heard Dual core,quad core processors. These cores are brain in ur processor.So instead of using a single core,it uses all the cores and run parallely and hence its much faster.Secondly,it uses cache optimization, which helpsin processing huge amount of data.Third adv is ,it has inbuilt capability of regularization. There are many more advantages.

In [18]:
from xgboost import XGBClassifier

In [19]:
xgb = XGBClassifier(n_estimators=200,reg_alpha=1)

In [20]:
xgb.fit(X_train,y_train)

XGBClassifier(n_estimators=200, reg_alpha=1)

In [21]:
y_pred = xgb.predict(X_test)

In [22]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.83      0.85      1760
           1       0.82      0.87      0.85      1589

    accuracy                           0.85      3349
   macro avg       0.85      0.85      0.85      3349
weighted avg       0.85      0.85      0.85      3349