<a href="https://colab.research.google.com/github/Parinita-Jain/ML_LectureNotes/blob/main/automl_on_insurance_regressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
#Auto ML : - package : tpot 
!pip install tpot

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tpot in /usr/local/lib/python3.8/dist-packages (0.11.7)
Requirement already satisfied: update-checker>=0.16 in /usr/local/lib/python3.8/dist-packages (from tpot) (0.18.0)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.8/dist-packages (from tpot) (1.2.0)
Requirement already satisfied: scipy>=1.3.1 in /usr/local/lib/python3.8/dist-packages (from tpot) (1.7.3)
Requirement already satisfied: stopit>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from tpot) (1.1.2)
Requirement already satisfied: xgboost>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tpot) (1.7.2)
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.8/dist-packages (from tpot) (1.21.6)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.8/dist-packages (from tpot) (4.64.1)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.8/dist-packages (from tpot) (1.3.5)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.8/dist-packages (from tpot) (1.0.2)
Requirement already satisfied: deap>=1.2 in /usr/local/lib/python3.8/dist-packages (from tpot) (1.3.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.2->tpot) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->tpot) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.22.0->tpot) (3.1.0)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.8/dist-packages (from update-checker>=0.16->tpot) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.0.4)

In [30]:
#insurance dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [31]:
df=pd.read_csv("insurance.csv")
from sklearn.preprocessing import OrdinalEncoder
col=df.select_dtypes("object").columns
le=OrdinalEncoder()
df[col]=le.fit_transform(df[col])

df.head()

   age  sex   bmi  children  smoker  region  expenses
0   19  0.0  27.9         0     1.0     3.0  16884.92
1   18  1.0  33.8         1     0.0     2.0   1725.55
2   28  1.0  33.0         3     0.0     2.0   4449.46
3   33  1.0  22.7         0     0.0     1.0  21984.47
4   32  1.0  28.9         0     0.0     1.0   3866.86

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   float64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   float64
 5   region    1338 non-null   float64
 6   expenses  1338 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 73.3 KB

In [33]:
#check null values
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [34]:
df.drop_duplicates(inplace=True)

In [35]:
#tpot libraray is used for auto ML 
# Select feature and target 
X=df.drop("expenses",axis=1)
Y=df["expenses"]

In [36]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,
                                                  random_state=1)

In [37]:
#apply scaling 
from sklearn.preprocessing import StandardScaler
#create object of StandardScaler class
ss=StandardScaler()
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)

In [38]:
'''
tpot means 
Tree-based Pipeline Optimization Tool, or TPOT for short, is a Python
library 
for automated machine learning. 
TPOT uses a tree-based structure ...
'''

'\ntpot means \nTree-based Pipeline Optimization Tool, or TPOT for short, is a Python\nlibrary \nfor automated machine learning. \nTPOT uses a tree-based structure ...\n'

In [39]:
#call 
from tpot import TPOTRegressor
#TPOTClassifier inbuilt class of tpot package which is used for automl

In [42]:
#create the object of class TPOTClassifier
model=TPOTRegressor(generations=5,random_state=1)
#generations inpuilt parameter means how many algorithm 
#best value of generations=5 or  10

In [43]:
#Train the model with 70% data with the help of TPOTClassifier class
model.fit(X_train,Y_train)
#fit() inbuilt method of TPOTClassifier class

TPOTRegressor(generations=5, random_state=1)

In [44]:
# check training score
model.score(X_train,Y_train)

-17327702.64734334

In [45]:
#check testing score
model.score(X_test,Y_test)

-19667379.182960693

In [46]:
model.fitted_pipeline_  #to show whose method
#fitted_pipeline_ inbuilt method of TPOTClassifier class

Pipeline(steps=[('stackingestimator',
                 StackingEstimator(estimator=LassoLarsCV(normalize=False))),
                ('randomforestregressor',
                 RandomForestRegressor(max_features=0.9000000000000001,
                                       min_samples_leaf=18, random_state=1))])

In [47]:
model.export('insurance_pipeline.py') 
#to save code in new file of python 
#model.export('new filename.py')

In [48]:
import os
os.getcwd()

'/content'