<a href="https://colab.research.google.com/github/Parinita-Jain/ML_LectureNotes/blob/main/HomeworkSolution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("data2.csv")
df

    Name   Python Machine Learning      Age       AI  NLP       Cv
0    jay       90                ?       23       90    ?       23
1    raj  missing               89      NaN  missing   89      NaN
2  kumar       78               78        ?       78   78        ?
3  suraj      NaN              NaN  missing      NaN  NaN  missing
4  pawan  missing              NaN       21  missing  NaN       21
5  viraj       65               56       22       65   56       22
6  vijay       45               67        ?       45   67        ?
7  sumit       80               45       24       80   45       24
8  akash       70               67  missing       70   67  missing
9  sujit      NaN              NaN       22      NaN  NaN       22

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              10 non-null     object
 1   Python            8 non-null      object
 2   Machine Learning  7 non-null      object
 3   Age               9 non-null      object
 4   AI                8 non-null      object
 5   NLP               7 non-null      object
 6   Cv                9 non-null      object
dtypes: object(7)
memory usage: 688.0+ bytes

In [ ]:
df["Python"].replace("missing",np.nan,inplace=True)
df["Machine Learning"].replace("?",np.nan,inplace=True)
df["Age"].repalce("missing",np.nan,inplace=True)
df["Age"].repalce("?",np.nan,inplace=True)
df["AI"].replace("missing",np.nan,inplace=True)
df["NLP"].replace("?",np.nan,inplace=True)
df["Cv"].replace("?",np.nan,inplace=True)
df["Cv"].replace("missing",np.nan,inplace=True)